In [1]:
# !pip install selenium
# !pip install parsel
# sudo apt install chromium-chromedrive

In [1]:
import pandas as pd

pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_rows',200)
pd.set_option('display.max_columns',200)

In [2]:
#import chrome webdriver
# from selenium import webdriver
# browser = webdriver.Chrome()

In [3]:
# from time import sleep
# from parsel import Selector

In [4]:
import csv
import pandas as pd
import numpy as np

In [5]:
from pathlib import Path
import sys
from random import sample
from sklearn.model_selection import train_test_split
sys.path.append('../../data')
sys.path.append('../../')
from lib import transformers, data
PATH = Path('../../data/')

In [6]:
data.imdb_scrapper(PATH)

Retrieving:  https://www.imdb.com/title/tconst
Retrieving:  https://www.imdb.com/title/titleType
Retrieving:  https://www.imdb.com/title/primaryTitle
Retrieving:  https://www.imdb.com/title/originalTitle
Retrieving:  https://www.imdb.com/title/isAdult
Retrieving:  https://www.imdb.com/title/startYear
Retrieving:  https://www.imdb.com/title/endYear
Retrieving:  https://www.imdb.com/title/runtimeMinutes
Retrieving:  https://www.imdb.com/title/genres

In [8]:
# este va a ser mi archivo de salida
imdb_scrapper = pd.DataFrame(columns = ['tconst', 'budget', 'gross'])

# defino un par de listas donde voy a ir almacenando los datos del scrapper
tconst = []
budget = []
gross = []

In [7]:
title_basics = data.load_title_basics(PATH)

In [8]:
# levanto los datasets con el input
movie_gross = data.load_movie_gross(PATH)
title_ratings = data.load_title_ratings(PATH)

title_basics = data.load_title_basics(PATH)

# movie_gross = pd.read_csv('/Users/fer/Downloads/DATASCIENCE/REPOS/MELI-TRAIN-CAMP/DATASETS/movie_gross.csv')
# title_basics = pd.read_csv('/Users/fer/Downloads/DATASCIENCE/REPOS/MELI-TRAIN-CAMP/DATASETS/title.basics.tsv', sep='\t')

AttributeError: 'DataFrame' object has no attribute 'movie_imdb_link'

In [8]:
title_ratings.head()

NameError: name 'title_ratings' is not defined

In [10]:
title_basics[:5]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,\N,45.0,[Romance]
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,\N,20.0,"[Documentary, News, Sport]"
498,tt0000502,movie,Bohemios,Bohemios,0,1905.0,\N,100.0,[no-genre]
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,\N,70.0,"[Biography, Crime, Drama]"
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,\N,120.0,"[Adventure, Fantasy]"

In [8]:
# genero el id de la película
movie_gross['tconst'] = movie_gross.movie_imdb_link.apply(lambda x: x.split('/')[4])

In [9]:
movie_gross.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,tconst
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,tt0499549
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pirate|singapore,http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,tt0449088

In [10]:
# limpio los datasets

def parse_genres(genres):
    if isinstance(genres, float) or genres == r'\N':
        return ['no-genre']
    else:
        return genres.split(',')

# Convertimos runtimeMinutes a float. No se puede tener una columna de tipo int con NaN
title_basics.runtimeMinutes = (
    title_basics.runtimeMinutes.apply(lambda x: np.nan if not x.isdigit() else x).astype(float)
)

title_basics['genres'] = title_basics.genres.apply(parse_genres)
title_basics['startYear'] = title_basics.startYear.apply(lambda x: np.nan if x == r'\N' else int(x))

title_basics = title_basics[
        # Dejamos únicamente movies
        title_basics.titleType.isin(['movie'])
        # Que tengan valor de runtimeMinutes
        & ~title_basics.runtimeMinutes.isna()
        # Menos de 3 horas y media para no descartar a titanic
        & (title_basics.runtimeMinutes <= 3.5 * 60)
        # Descartamos los shorts
        & title_basics.genres.apply(lambda x: 'Short' not in x)
    ]

movie_gross.drop_duplicates(subset = 'tconst', keep = 'first', inplace = True)

AttributeError: 'DataFrame' object has no attribute 'runtimeMinutes'

In [11]:
# merge y reuno los títulos de interés
movies = title_basics.merge(movie_gross, on = 'tconst', how = 'inner')
len(movies)

5042

In [12]:
# levanto lista de links
titles = movies['tconst']

In [25]:
# levanto data de iMDB

checker = 0

for title in titles[:5]:
    
    url = 'https://www.imdb.com/title/' + title
    
    try:
        browser.get(url)
    except:
        checker =+ 1
        if checker == 5:
            browser.quit()
        else:
            continue
        
    sel = Selector(text=browser.page_source)

    
    tconst.append(title)
    
    presupuesto = sel.xpath('//div/h4[contains(text(),"Budget:")]/../text()').getall()
    try:
        presupuesto = presupuesto[1].rstrip()
    except:
        presupuesto = np.nan
    budget.append(presupuesto)

    revenue = sel.xpath('//div/h4[contains(text(),"Cumulative Worldwide Gross:")]/../text()').getall()
    try:
        revenue = revenue[1].rstrip()
    except:
        revenue = np.nan
    gross.append(revenue)
        
    sleep(1)
    
browser.quit()

In [26]:
imdb_scrapper['tconst'] = tconst
imdb_scrapper['budget'] = budget
imdb_scrapper['gross'] = gross

In [28]:
imdb_scrapper.to_csv(path / '1imdb_scrapper.csv', index=False, encoding = "utf-8")

NameError: name 'path' is not defined

In [13]:
data.imdb_scrapper(PATH)

AttributeError: module 'lib.data' has no attribute 'imdb_scrapper'